<body>
<% @posts.each do |post| %>
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5"><%= post.title %></h2>
      <p class="lead"><%= post.body %></p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 300px; height: 300px; border-radius: 21px 21px 0 0;"></div>
    <p class="lead"><%= post.body %></p>
  </div>
<% end %>
</body>